.box:hover{
    -webkit-box-shadow: 22px 4px 30px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 4px 30px -7px rgba(0,0,0,0.75);
    box-shadow: 22px 4px 30px -7px rgba(0,0,0,0.75);
}
body{
    background-color: rgb(56, 54, 53);
}
